<template>
    <div>
        <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                <th>Item</th>
                <th>Weight</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items">
                <td>{{ item.item}} &nbsp;<span class="badge badge-primary">{{ item.perishable }}</span></td>
                <td>{{ item.weight}}</td>
                <td>{{ item.date | format}}</td>
                <td>{{ item.pickupdate | format}}</td>
                <td>{{ item.price}}</td>
                <td>
                    <button class="btn btn-success btn-sm"
                            data-toggle="tooltip" data-placement="top" :title="`Checkout ${item.item}` "
                    >Checkout
                    </button>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" :href="`/receipt/${item.id}`">Receipt</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: "allitems",
        moment,
        props: {
            allitems: {
                // type: Object,
                // default: {}
            },
        },
        data() {
            return {
                items: this.allitems,
            }
        },
        filters: {
            format: function (value) {
                return moment(value).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        mounted() {
            Bus.$on('addedItem', data => {
                this.items.unshift(data);
            })
        }
    }
</script>

<style scoped>

</style>