body {
    color: #191919;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    margin: 0;
    padding: 0;
}

html {
    font-size: 80%;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 600;
    margin-bottom: 1.5625rem;
}

h4 {
    font-weight: 600;
    margin-bottom: 1.875rem;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

h6 {
    font-size: .9375rem;
}

@font-face {
    font-family: Zekton;
    src: url("../font/zekton/zekton%20rg.ttf");
}

@font-face {
    font-family: Corisande Regular;
    src: url("../font/CORISANDE/CORISANDE%20FONTS/CorisandeRegular.ttf");
}

@font-face {
    font-family: Corisande Bold;
    src: url("../font/CORISANDE/CORISANDE%20FONTS/CorisandeBold.ttf");
}

@font-face {
    font-family: Corisande Light;
    src: url("../font/CORISANDE/CORISANDE%20FONTS/corisandelight.ttf");
}

 {
    font-family: "Corisande Light";
    font-size: 16px;
    letter-spacing: 1px;
}

h1,h3 {
    font-family: Corisande Bold !important;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 1px;
    color: #333333;
    line-height: 50px;
}

h2 {
    font-family: Corisande Regular !important;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 1px;
    color: #333333;
    line-height: 50px;
}

.text-center a {
    font-family: Zekton;
    font-weight: bold;
}

form .form-control, label {
    font-family: Zekton;
}

form button {
    font-family: Zekton;
    font-weight: bold;
}

h2:after {
    content: '';
    display: block;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.heading-sm {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.icon-clear {
    margin-right: 8px;
    top: 8px;
    float: left;
    position: relative;
    background: #1e8ece;
    font-size: 22px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    border: solid 1px #555;
    border-radius: 50% !important;
}

.content-boxes-in-v3 {
    padding: 0 20px;
    overflow: hidden;
}

.mid {
    position: relative;
}

.head:after {
    content: '';
    display: block;
    position: absolute;
    left: 41%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.new:after {
    content: '';
    display: block;
    position: absolute;
    left: 47%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.quality:after {
    content: '';
    display: block;
    position: absolute;
    left: 40%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.produc:after {
    content: '';
    display: block;
    position: absolute;
    left: 45%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.pro:after {
    content: '';
    display: block;
    position: absolute;
    left: 44%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.client:after {
    content: '';
    display: block;
    position: absolute;
    left: 44%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.loc:after {
    content: '';
    display: block;
    position: absolute;
    left: 37%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.adv:after {
    content: '';
    display: block;
    position: absolute;
    left: 39%;
    overflow: hidden;
    margin-top: 2px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2b0a3d;
}

.zoom img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -ms-transform: scale(1.4); /* IE 9 */
    -moz-transform: scale(1.4); /* Firefox 9 */
    -webkit-transform: scale(1.4);/* Safari 3-8 */
    transform: scale(1.4);
}

.zoomy img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoomy img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -moz-transform: scale(1.1); /* Firefox 9 */
    -webkit-transform: scale(1.1);/* Safari 3-8 */
    transform: scale(1.1);
}

.nave img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nave img:hover {
    -ms-transform: scale(1.4); /* IE 9 */
    -moz-transform: scale(1.4); /* Firefox 9 */
    -webkit-transform: scale(1.4);/* Safari 3-8 */
    transform: scale(1.2);
}

/*.init {
    padding-top: 0;
    margin-top: 0;
}*/

.intro a {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.intro:hover a {
    -ms-transform: scale(1.1); /* IE 9 */
    -moz-transform: scale(1.1); /* Firefox 9 */
    -webkit-transform: scale(1.1);/* Safari 3-8 */
    transform: scale(1.1);
}

.clearfix i {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.clearfix:hover i {
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox 9 */
    -webkit-transform: scale(1.3);/* Safari 3-8 */
    transform: scale(1.3);
}

.icon img,.col-sm-6 h4 {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.icon:hover img,.col-sm-6:hover h4 {
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox 9 */
    -webkit-transform: scale(1.3);/* Safari 3-8 */
    transform: scale(1.3);
}

.d-block a {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.d-block a:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -moz-transform: scale(1.1); /* Firefox 9 */
    -webkit-transform: scale(1.1);/* Safari 3-8 */
    transform: scale(1.1);
}

.prod .tab-content .tab-pane .mw-100 {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.prod .tab-content .tab-pane:hover .mw-100 {
    -ms-transform: scale(1.3); /* IE 9 */
    -moz-transform: scale(1.3); /* Firefox 9 */
    -webkit-transform: scale(1.3);/* Safari 3-8 */
    transform: scale(1.3);
}

.ts-font-color__black h6 {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

ts-font-color__black .my-2 {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ts-font-color__black h6:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -moz-transform: scale(1.1); /* Firefox 9 */
    -webkit-transform: scale(1.1);/* Safari 3-8 */
    transform: scale(1.1);
    color: #BA2127;
}

.row .col-sm-4 .ts-price-box {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.row .col-sm-4 .ts-price-box:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -moz-transform: scale(1.1); /* Firefox 9 */
    -webkit-transform: scale(1.1);/* Safari 3-8 */
    transform: scale(1.1);
}

.px-3 {
    padding-top: 120px;
}

.sol {
    color: #173158;
}

.pos {
    padding-left: 35px;
}

.pos1 {
    padding-left: 25px;
}

.modal {
    border-radius: 20px;
}

.modal-title {
    color: #173158;
}

.modal-body {
    color: #0b0b0b;
}

.back-top {
    right: 10px;
    margin-bottom: 50px;
}
.back-top a {
    height: 30px;
    line-height: 26px;
    width: 30px;
    background: #BA2127 none repeat scroll 0 0;
    fill: #d50000;
}

.back-top a:hover {
    background: #1e8ece;
}

.back-top {
    bottom: 35px;
    position: fixed;
    right: 33px;
    z-index: 1;
}
.back-top a {
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 25px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
    width: 40px;
}
.back-top a:hover, .back-top a:focus {
    color:#fff;
}

/* News And Insights */
#news{
    background: #34495e url("../img/above-adventure-aerial-air-large.jpg") no-repeat center fixed;
    background-size:cover;
    min-height:100%;
    font-family:"Quicksand","Open Sans",sans-serif;
text-align:center
}


.news{
    display:inline-block;
    vertical-align:top;
    margin:30px 20px;
    width:280px;
    background:#FFF;
    overflow:hidden;
    padding:200px 20px 16px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
    box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.15)
}
.news .thumb{
    position:absolute;
    width:100%;
    height:200px;
    top:0;
    left:0;
    overflow:hidden;
    background-color:#000;
}
.news img{
    width:100%;
    transition: all 0.5s ease;
}
.news figcaption{
    font-weight:bold;
    font-family:"Raleway","Open Sans",sans-serif;
    font-size:16px;
    margin-top:18px;
}
.news p{
    font-family:"Quicksand","Open Sans",sans-serif;
    font-size:12px;
    margin-top:14px;
    transition: max-height 1s ease, margin 0.6s ease;
}
.news .desc{
    max-height:0px;
    margin-top:0px;
    overflow:hidden;
}
.news .technos{
    color:grey;
    font-size:13px;
}
.news a{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:2;
}
.news a span{
    display:none
}

.news:hover .desc{
    margin-top:14px;
    max-height:200px;
}
.news:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}

.svg {
    transform: scale(1.0);
}

.loc {
    padding-bottom: 10px;
}

.social {
    color: #BA2127;
}

.intr {
    background-image: url("../img/intro4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: center;*/
}

.text-dark {
    color: #000000 !important;
}

/*.logo {
    height: 40px;
    width: 140px;
}*/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.solut {
    padding: 5px;
}

.slogan {
    font-size: 35px;
}

.app {
    color: #d50000 !important;
}

#img {
    height: 260px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: center;*/
}

/* NEW */

/***********************************************************************************************************************
B. Helpers
***********************************************************************************************************************/

/*-------------------------------------------
  -- Animations
-------------------------------------------*/

[data-animate] {
    /*
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  */
}

/* Fade In Up */

@keyframes ts-fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 1.25rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInUp {
    animation-name: ts-fadeInUp;
}

/* Fade In Down */

@keyframes ts-fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -1.25rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInDown {
    animation-name: ts-fadeInDown;
}

/* Fade In Left */

@keyframes ts-fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-1.25rem, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInLeft {
    animation-name: ts-fadeInLeft;
}

/* Fade In Right */

@keyframes ts-fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(1.25rem, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInRight {
    animation-name: ts-fadeInRight;
}

/* Zoom In */

@keyframes ts-zoomIn {
    from {
        opacity: 0;
        transform: scale(.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomIn {
    animation-name: ts-zoomIn;
}

/* Zoom In Short */

@keyframes ts-zoomInShort {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomInShort {
    animation-name: ts-zoomInShort;
}

/*-------------------------------------------
  -- Borders
-------------------------------------------*/

.ts-border-radius__sm {
    border-radius: .125rem;
    overflow: hidden;
}

.ts-border-radius__md {
    border-radius: .25rem;
    overflow: hidden;
}

.ts-border-radius__lg {
    border-radius: .5rem;
    overflow: hidden;
}

.ts-border-radius__xl {
    border-radius: .75rem;
    overflow: hidden;
}

.ts-border-radius__round-shape {
    border-radius: 187.5rem;
    overflow: hidden;
}

.ts-border-none {
    border: none;
}

.ts-border-bottom {
    border-bottom: .0625rem solid rgba(0, 0, 0, .1);
}

.ts-font-color__white {
    color: #fff;
}

.ts-font-color__black {
    color: #000;
}

.ts-font-color__primary {
    color: #f26d7d;
}

/*-------------------------------------------
  -- Background
-------------------------------------------*/

[data-bg-image] {
    background-size: cover;
    background-position: 50%;
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
}

.ts-background {
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.ts-background .ts-background {
    height: 100%;
    width: 100%;
}

.ts-background-image, .ts-img-into-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.ts-background-image img, .ts-img-into-bg img {
    display: none;
}

.ts-background-original-size {
    background-size: inherit;
}

.ts-background-size-cover {
    background-size: cover;
}

.ts-background-size-contain {
    background-size: contain;
}

.ts-background-repeat-x {
    background-repeat: repeat-x;
}

.ts-background-repeat-y {
    background-repeat: repeat-y;
}

.ts-background-repeat-repeat {
    background-repeat: repeat;
    background-size: inherit;
}

.ts-background-position-top {
    background-position: top;
}

.ts-background-position-center {
    background-position: center;
}

.ts-background-position-bottom {
    background-position: bottom;
}

.ts-background-particles {
    height: 120%;
    left: 0;
    margin-left: -10%;
    margin-top: -10%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 120%;
    z-index: 1;
}

.ts-background-is-dark {
    color: #fff;
}

.ts-background-is-dark .form-control {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .2);
}

.ts-background-is-dark .form-control:focus {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .4);
}

.ts-background-is-dark .ts-btn-border-muted {
    border-color: rgba(255, 255, 255, .1);
}

/*-------------------------------------------
  -- Height
-------------------------------------------*/

.ts-height__50px {
    height: 3.125rem;
}

.ts-height__100px {
    height: 6.25rem;
}

.ts-height__150px {
    height: 9.375rem;
}

.ts-height__200px {
    height: 12.5rem;
}

.ts-height__250px {
    height: 15.625rem;
}

.ts-height__300px {
    height: 18.75rem;
}

.ts-height__350px {
    height: 21.875rem;
}

.ts-height__400px {
    height: 25rem;
}

.ts-height__450px {
    height: 28.125rem;
}

.ts-height__500px {
    height: 31.25rem;
}

.ts-height__600px {
    height: 37.5rem;
}

.ts-height__700px {
    height: 43.75rem;
}

.ts-height__800px {
    height: 50rem;
}

.ts-height__900px {
    height: 56.25rem;
}

.ts-height__1000px {
    height: 62.5rem;
}

/*-------------------------------------------
  -- Margin
-------------------------------------------*/

.ts-mt__0 {
    margin-top: 0 !important;
}

.ts-mr__0 {
    margin-right: 0 !important;
}

.ts-mb__0 {
    margin-bottom: 0 !important;
}

.ts-ml__0 {
    margin-left: 0 !important;
}

/* NEW */

/*-------------------------------------------
  -- No Gutters - Removes padding from col*
-------------------------------------------*/

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* NEW */

/*-------------------------------------------
  -- Opacity
-------------------------------------------*/

.ts-opacity__5 {
    opacity: .05;
}

.ts-opacity__10 {
    opacity: .1;
}

.ts-opacity__20 {
    opacity: .2;
}

.ts-opacity__30 {
    opacity: .3;
}

.ts-opacity__40 {
    opacity: .4;
}

.ts-opacity__50 {
    opacity: .5;
}

.ts-opacity__60 {
    opacity: .6;
}

.ts-opacity__70 {
    opacity: .7;
}

.ts-opacity__80 {
    opacity: .8;
}

.ts-opacity__90 {
    opacity: .9;
}

/*-------------------------------------------
  -- Overflow
-------------------------------------------*/

.ts-overflow__hidden {
    overflow: hidden;
}

.ts-overflow__visible {
    overflow: visible;
}

/* NEW */

/*-------------------------------------------
  -- Padding
-------------------------------------------*/

.ts-pt__0 {
    padding-top: 0 !important;
}

.ts-pr__0 {
    padding-right: 0 !important;
}

.ts-pb__0 {
    padding-bottom: 0 !important;
}

.ts-pl__0 {
    padding-left: 0 !important;
}

/*-------------------------------------------
  -- Position
-------------------------------------------*/

/* Top */

.ts-top__0 {
    top: 0%;
}

.ts-top__50 {
    top: 50%;
}

.ts-top__100 {
    top: 100%;
}

/* Right */

.ts-right__0 {
    right: 0%;
}

.ts-right__50 {
    right: 50%;
}

.ts-right__100 {
    right: 100%;
}

/* Bottom */

.ts-bottom__0 {
    bottom: 0%;
}

.ts-bottom__50 {
    bottom: 50%;
}

.ts-bottom__100 {
    bottom: 100%;
}

/* Left */

.ts-left__0 {
    left: 0%;
}

.ts-left__50 {
    left: 50%;
}

.ts-left__100 {
    left: 100%;
}

/* NEW */

/*-------------------------------------------
  -- Shadow
-------------------------------------------*/

.ts-shadow__sm {
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

.ts-shadow__md {
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
}

.ts-shadow__lg {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

.ts-shadow__none {
    box-shadow: none !important;
}

/*-------------------------------------------
  -- Shape Mask
-------------------------------------------*/

.ts-shape-mask__up:before {
    background-image: url("../img/bg-shape-mask-up.png");
    background-size: cover;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    top: -0.0625rem;
    width: 100%;
}

.ts-shape-mask__down:after {
    background-image: url("../img/bg-shape-mask-down.png");
    background-size: cover;
    bottom: -0.0625rem;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    width: 100%;
}

/* NEW */

/*-------------------------------------------
  -- Typography
-------------------------------------------*/

a {
    color: #f26d7d;
    transition: .3s ease;
}

a:hover {
    color: rgb(237, 44, 66);
    text-decoration: none;
}

p {
    line-height: 1.6875rem;
    margin-bottom: 1.875rem;
    color: rgba(0, 0, 0, .5);
}

.ts-font-weight__normal {
    font-weight: normal;
}

.ts-font-weight__light {
    font-weight: lighter;
}

.ts-font-weight__bold {
    font-weight: bold;
}

.ts-text-small {
    font-size: .8125rem !important;
}

.ts-xs-text-center {
}

/*-------------------------------------------
  -- Title
-------------------------------------------*/

.ts-title {
}

.ts-title h5 {
    font-weight: normal;
    opacity: .5;
}

/* NEW */

/* NEW */

/*-------------------------------------------
  -- Utilities
-------------------------------------------*/

/* Social Icons */

.ts-social-icons {
    font-size: 120%;
}

.ts-social-icons a {
    padding: .125rem .25rem;
    color: #9e9e9e;
}

/* Overlay */

.ts-has-overlay {
    position: relative;
}

.ts-has-overlay:after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* Flip x */

.ts-flip-x {
    transform: scaleY(-1);
}

/* Flip Y */

.ts-flip-y {
    transform: scaleX(-1);
}

/* NEW flip */

/*-------------------------------------------
  -- Width
-------------------------------------------*/

.ts-width__10px {
    width: .625rem;
}

.ts-width__20px {
    width: 1.25rem;
}

.ts-width__30px {
    width: 1.875rem;
}

.ts-width__40px {
    width: 2.5rem;
}

.ts-width__50px {
    width: 3.125rem;
}

.ts-width__100px {
    width: 6.25rem;
}

.ts-width__200px {
    width: 12.5rem;
}

.ts-width__300px {
    width: 18.75rem;
}

.ts-width__400px {
    width: 25rem;
}

.ts-width__500px {
    width: 31.25rem;
}

.ts-width__inherit {
    width: inherit !important;
}

.ts-width__auto {
    width: auto !important;
}

/*-------------------------------------------
  -- Z-index
-------------------------------------------*/

.ts-z-index__-1 {
    z-index: -1 !important;
}

.ts-z-index__0 {
    z-index: 0 !important;
}

.ts-z-index__1 {
    z-index: 1 !important;
}

.ts-z-index__2 {
    z-index: 2 !important;
}

.ts-z-index__1000 {
    z-index: 1000 !important;
}

/* NEW */

/***********************************************************************************************************************
C. Components
***********************************************************************************************************************/

/*-------------------------------------------
  -- Block
-------------------------------------------*/

.ts-block {
    padding-bottom: 1rem !important;
    padding-top: 5rem;
    position: relative;
}

.ts-block-inside {
    padding: 1.25rem;
    position: relative;
}

section {
    position: relative;
}

/*-------------------------------------------
  -- Blockquote
-------------------------------------------*/

blockquote {
    font-size: 1.125rem;
    position: relative;
    background-size: contain;
    //background-image: url("../../assets/svg/bubble.svg");
    background-repeat: no-repeat;
    background-position: center 3.75rem;
    padding-bottom: 3.75rem;
}

blockquote [class*="ts-circle"] {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
    position: relative;
    margin-bottom: 1.25rem;
    z-index: 1;
}

blockquote figure {
    padding-top: .9375rem;
    display: inline-block;
    position: relative;
}

blockquote figure aside {
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 3.875rem;
    position: absolute;
    width: 3.25rem;
    right: -0.625rem;
    z-index: 2;
}

blockquote figure aside i {
    color: #fff;
    left: 1.0625rem;
    top: 1.5625rem;
    position: absolute;
}

blockquote figure aside svg {
    fill: #f26d7d;
}

blockquote p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

blockquote h4 {
    margin-bottom: .3125rem;
}

blockquote h6 {
    opacity: .5;
}

.blockquote-footer {
    color: inherit;
}

.blockquote-footer:before {
    display: none;
}

.ts-carousel-blockquote .owl-item figure, .ts-carousel-blockquote .owl-item p,
.ts-carousel-blockquote .owl-item .blockquote-footer {
    opacity: 0;
    transition: .6s ease;
    transform: translateY(.625rem);
}

.ts-carousel-blockquote .owl-item.active figure,
.ts-carousel-blockquote .owl-item.active p,
.ts-carousel-blockquote .owl-item.active .blockquote-footer {
    opacity: 1;
    transform: translateY(0);
}

.ts-carousel-blockquote .owl-item.active p {
    transition-delay: .1s;
}

.ts-carousel-blockquote .owl-item.active .blockquote-footer {
    transition-delay: .2s;
}

/* NEW */

/*-------------------------------------------
  -- Box
-------------------------------------------*/

.ts-box {
    background-color: #fff;
    border-radius: .25rem;
    margin-bottom: 1.875rem;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    padding: 1.5625rem;
}

/*-------------------------------------------
  -- Buttons
-------------------------------------------*/

.btn {
    border-radius: 6.25rem;
    border-width: .125rem;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    font-weight: 600;
    font-size: .9375rem;
    padding: .5rem 1.25rem;
    position: relative;
    outline: none !important;
}

.btn span {
    transition: .3s ease;
}

.btn .status {
    bottom: 0;
    height: 1.375rem;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
}

.btn .status .spinner {
    left: .3125rem;
    transition: .3s ease;
    top: .1875rem;
    position: absolute;
    opacity: 0;
}

.btn .status .status-icon {
    border-radius: 50%;
    left: 0;
    opacity: 0;
    font-size: .625rem;
    padding: .25rem .4375rem;
    position: relative;
    transition: .3s ease;
    z-index: 1;
    transform: scale(0);
}

.btn .status .status-icon.valid {
    background-color: var(--green);
}

.btn .status .status-icon.invalid {
    background-color: var(--red);
}

.btn.processing span {
    opacity: .2;
}

.btn.processing .spinner {
    opacity: 1;
}

.btn.done .ts-spinner {
    opacity: 0;
}

.btn.done .status-icon {
    transform: scale(1);
    opacity: 1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    /*background-color: darken( var(--color-primary), 20% );
    border-color: darken( var(--color-primary), 20% );*/
    background-color: #173158;
    border-color: #173158;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .3);
}

.btn-primary {
    background-color: #173158;
    border-color: #173158;
    color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: rgb(237, 44, 66);
    border-color: rgb(237, 44, 66);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    background-color: rgb(237, 44, 66);
    border-color: rgb(225, 20, 44);
    box-shadow: 0 .1875rem .9375rem rgba(0, 0, 0, .2);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: rgb(237, 44, 66);
    border-color: rgb(237, 44, 66);
    box-shadow: 0 .1875rem .9375rem rgba(0, 0, 0, .2);
}

.btn-dark {
    background-color: #191919;
    border-color: #191919;
}

.btn-outline-primary {
    border-color: #173158;
    color: #173158;
}

.btn-outline-primary:hover {
    background-color: #173158;
    border-color: #173158;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #173158;
    border-color: #173158;
    box-shadow: 0 0 0 .2rem rgba(242, 109, 125, .5);
}

.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.125rem;
}

.btn-sm {
    font-size: .8125rem;
    padding: .375rem 1rem;
}

.btn-xs {
    font-size: .75rem;
    font-weight: 600;
    padding: .125rem .6875rem;
    text-transform: uppercase;
}

[class*="btn-outline-"] {
    box-shadow: none;
}

.ts-btn-border-muted {
    border-color: rgba(25, 25, 25, .1);
}

/*-------------------------------------------
  -- Card
-------------------------------------------*/

.card {
    backface-visibility: hidden;
    border: none;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    margin-bottom: 1.875rem;
    overflow: hidden;
}

.card-columns .card {
    margin-bottom: 1.25rem;
}

.card-body, .card-footer, .card-header {
    padding: 1.5625rem;
}

.ts-cards-same-height > div[class*='col-'] {
    display: flex;
}

.ts-cards-same-height > div[class*='col-'] .card {
    width: 100%;
}

.ts-card__flat {
    border-radius: 0;
    box-shadow: none;
}

.ts-card__flat .card-footer {
    background-color: transparent;
    border: none;
}

.ts-card__image {
}

/*-------------------------------------------
  -- Circle
-------------------------------------------*/

.ts-circle__sm {
    border-radius: 50%;
    display: inline-block;
    height: 4.375rem;
    flex: 0 0 4.375rem;
    overflow: hidden;
    width: 4.375rem;
}

.ts-circle__md {
    border-radius: 50%;
    display: inline-block;
    height: 6.25rem;
    flex: 0 0 6.25rem;
    overflow: hidden;
    width: 6.25rem;
}

.ts-circle__lg {
    border-radius: 50%;
    display: inline-block;
    height: 8.125rem;
    flex: 0 0 8.125rem;
    overflow: hidden;
    width: 8.125rem;
}

.ts-circle__xl {
    border-radius: 50%;
    display: inline-block;
    height: 10rem;
    flex: 0 0 10rem;
    overflow: hidden;
    width: 10rem;
}

/*-------------------------------------------
  -- Forms
-------------------------------------------*/

form.ts-labels-inside-input .form-group,
.ts-form.ts-labels-inside-input .form-group {
    position: relative;
}

form.ts-labels-inside-input .form-group label,
.ts-form.ts-labels-inside-input .form-group label {
    line-height: 2.625rem;
    left: .8125rem;
    opacity: .4;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .3s ease;
}

form.ts-labels-inside-input .form-group label.focused,
.ts-form.ts-labels-inside-input .form-group label.focused {
    top: -2.1875rem;
    left: 0;
    font-size: .75rem;
    opacity: 1;
}

.form-control {
    border: 0;
    box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .2);
    border-radius: .125rem;
    padding: .5625rem .75rem;
}

.form-control:focus {
    box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .4);
}

.form-group {
    margin-bottom: 1.5625rem;
}

.form-group label {
    font-size: .8125rem;
}

/*-------------------------------------------
  -- HR
-------------------------------------------*/

hr {
    border-top-width: .125rem;
}

/* NEW */

/*-------------------------------------------
  -- Inputs
-------------------------------------------*/

.ts-input__static {
    pointer-events: none;
    box-shadow: none;
}

.ts-inputs__transparent input, .ts-inputs__transparent textarea {
    background-color: transparent;
    color: #173158;
}

.ts-inputs__transparent input:active, .ts-inputs__transparent input:focus,
.ts-inputs__transparent textarea:active, .ts-inputs__transparent textarea:focus {
    background-color: transparent;
    color: #BA2127;
}

.ts-item {
    height: 100%;
    padding-bottom: 1.875rem;
}

.ts-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ts-item-header {
    margin-bottom: 1.5625rem;
    position: relative;
}

.ts-item-header .icon .step {
    background-color: #f26d7d;
    bottom: 0;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: 50%;
    color: #191919;
    font-weight: 600;
    line-height: 1.875rem;
    left: 0;
    height: 1.875rem;
    position: absolute;
    text-align: center;
    width: 1.875rem;
}

.ts-item-body {
    flex: 1 1 auto;
}

.ts-item-footer {
}

/*-------------------------------------------
  -- List
-------------------------------------------*/

ul .produ li {
    border-bottom: 0rem solid rgba(0, 0, 0, .1);
    padding-bottom: 0rem;
    padding-top: 0rem;
}

ul {
    line-height: 2.5rem;
}

ul.ts-list-divided li {
    border-bottom: .0625rem solid rgba(0, 0, 0, .1);
    padding-bottom: .3125rem;
    padding-top: .3125rem;
}

ul.ts-list-divided li:last-child {
    border-bottom: none;
}

/* NEW */

/*-------------------------------------------
  -- Loading Screen
-------------------------------------------*/

body.has-loading-screen:before {
    background-color: #fff;
    background-image: url('../img/cloudstack_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    height: 100%;
    right: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 1.5s ease;
    opacity: 1;
}

body.has-loading-screen:after {
    content: url("../img/loading.svg");
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
    transition: 1.5s ease;
    top: 0;
    z-index: 10000;
}

body.has-loading-screen.loading-done:before {
    width: 0;
}

body.has-loading-screen.loading-done:after {
    transform: scale(0);
    opacity: 0;
}

/*-------------------------------------------
  -- Map
-------------------------------------------*/

#map {
    height: 600px;
    width: 100%;
}

.map {
    min-height: 12.5rem;
}

.map a[href^="https://goo.gl/maps/rv7anaWP7pp"] {
    display: none !important;
}

.map a[href^="https://goo.gl/maps/rv7anaWP7pp"] {
    display: none !important;
}

.map .gmnoprint a, .map .gmnoprint span, .map .gm-style-cc {
    display: none;
}

/*-------------------------------------------
  -- Hero
-------------------------------------------*/

#ts-hero {
    color: #fff;
    display: flex;
    position: relative;
}

#ts-hero .ts-background-image {
    background-position: top center;
}

/*-------------------------------------------
  -- Navbar
-------------------------------------------*/

.navbar {
    background-color: #173158 !important;
    font-size: .875rem;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    transition: .3s ease;
}

.navbar.in {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.navbar.in .ts-background {
    opacity: 1 !important;
}

.navbar .ts-background {
    transition: 1s ease;
}

[class*="navbar-expand"] .navbar-nav .nav-link {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

/*XL*/

/*LG*/

/*MD*/

/*SM*/

/*-------------------------------------------
  -- Page
-------------------------------------------*/

.ts-page-wrapper {
    overflow: hidden;
}

/*-------------------------------------------
  -- Partners
-------------------------------------------*/

.ts-partners a {
    display: block;
    padding: .625rem .3125rem;
}

/*-------------------------------------------
  -- Plugins
-------------------------------------------*/

.tv-site-widget {
    border: none !important;
}

iframe div {
    border: none;
}

/*-------------------------------------------
  -- Progress
-------------------------------------------*/

.progress {
    background-color: transparent;
    border: .125rem solid #f26d7d;
    border-radius: 0;
    height: .625rem;
}

.progress .progress-bar {
    background-color: #f26d7d;
}

/*-------------------------------------------
  -- Promo Numbers
-------------------------------------------*/

.ts-promo-numbers h2 {
    font-weight: normal;
}

.ts-promo-numbers h3 {
    font-weight: normal;
}

.ts-promo-number {
    position: relative;
}

.ts-promo-number .ts-promo-number-divider:after {
    content: "";
    bottom: 0;
    border: .125rem solid #f26d7d;
    border-radius: 50%;
    height: .625rem;
    margin: auto;
    position: absolute;
    right: -0.3125rem;
    top: 0;
    width: .625rem;
}

/*-------------------------------------------
  -- Select
-------------------------------------------*/

select.form-control {
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: .25rem;
    cursor: pointer;
    height: 2.8125rem !important;
    margin-top: -0.125rem;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: .0625rem;
    text-overflow: '';
}

select.form-control:focus, select.form-control:hover {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper:before {
    position: absolute;
    display: inline-block;
    font-weight: 900;
    text-rendering: auto;
    top: 0;
    margin: auto;
    bottom: 0;
    right: .9375rem;
    height: 1.875rem;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome\ 5 Free";
    content: "\f0dd";
}

/*-------------------------------------------
  -- Slider
-------------------------------------------*/

.ts-slider {
    height: 100% !important;
}

.ts-slider div {
    height: 100% !important;
}

/*-------------------------------------------
  -- Tabs
-------------------------------------------*/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs h4 {
    font-weight: normal;
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    background-color: transparent;
    border: none;
    border-bottom: .1875rem solid transparent;
    margin-left: .9375rem;
    margin-right: .9375rem;
    padding-right: 0;
    padding-left: 0;
    color: inherit;
    opacity: .5;
}

.nav-tabs .nav-link.active {
    color: #191919;
    background-color: transparent;
    border-bottom: .1875rem solid #f26d7d;
    opacity: 1;
}

/* NEW */

/***********************************************************************************************************************
D. Plugins Styles
***********************************************************************************************************************/

/*-------------------------------------------
  -- Magnific Popup
-------------------------------------------*/

/* overlay at start */

.mfp-fade.mfp-bg {
    opacity: 0;
    background-color: #000;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/*-------------------------------------------
  -- Owl Carousel
-------------------------------------------*/

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    padding: .3125rem;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
    opacity: .7;
}

.owl-carousel .owl-dots .owl-dot span {
    background-color: #191919;
    border-radius: 50%;
    display: inline-block;
    height: .625rem;
    opacity: .2;
    transition: .3s ease;
    width: .625rem;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: -1.25rem;
    bottom: 0;
    height: 0;
    margin: auto;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    background-color: rgba(25, 25, 25, .6);
    border-radius: 50%;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #fff;
    display: inline-block;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    transition: .3s ease;
    width: 2.5rem;
}

.owl-carousel .owl-nav .owl-prev:after, .owl-carousel .owl-nav .owl-next:after {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 2.5rem;
    -webkit-font-smoothing: antialiased;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
    background-color: rgba(25, 25, 25, .8);
}

.owl-carousel .owl-nav .owl-next {
    right: .3125rem;
}

.owl-carousel .owl-nav .owl-next:after {
    content: "\f105";
    margin-left: .1875rem;
}

.owl-carousel .owl-nav .owl-prev {
    left: .3125rem;
}

.owl-carousel .owl-nav .owl-prev:after {
    content: "\f104";
    margin-right: .0625rem;
}

/***********************************************************************************************************************
E. Template Specific Elements
***********************************************************************************************************************/

/*-------------------------------------------
  -- Centered Slider
-------------------------------------------*/

.ts-carousel-centered .slide {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.ts-carousel-centered .owl-item {
    perspective: 1000;
}

.ts-carousel-centered .owl-item .slide {
    opacity: .5;
    transition: .3s ease;
    transform: scale(.95);
}

.ts-carousel-centered .owl-item.active.center .slide {
    opacity: 1;
    transform: scale(1);
}

.ts-carousel-centered .owl-nav .owl-prev,
.ts-carousel-centered .owl-nav .owl-next {
    height: 3.75rem;
    width: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:after,
.ts-carousel-centered .owl-nav .owl-next:after {
    font-size: 1.375rem;
    line-height: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:hover,
.ts-carousel-centered .owl-nav .owl-next:hover {
    background-color: rgb(25, 25, 25);
}

.ts-carousel-centered .owl-nav .owl-next {
    right: 1.25rem;
}

.ts-carousel-centered .owl-nav .owl-prev {
    left: 1.25rem;
}

/*-------------------------------------------
  -- Hero Form Floated
-------------------------------------------*/

.floated {
    position: relative;
    width: 100%;
    z-index: 1;
    bottom: -1.875rem;
}

.floated form {
    position: relative;
    padding: 1.875rem 3.75rem;
}

/*-------------------------------------------
  -- Price Box
-------------------------------------------*/

.ts-price-box__promoted {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
    margin-top: -1.25rem;
    margin-bottom: .625rem;
    z-index: 2;
}

.ts-price-box__promoted .ts-title {
    transform: scale(1.2);
}

/* NEW */

/*-------------------------------------------
  -- Time Line
-------------------------------------------*/

.ts-time-line__horizontal {
    padding-bottom: .625rem;
    padding-top: .625rem;
    position: relative;
    /* timeline line */
}

.ts-time-line__horizontal ul {
    padding-left: 1.875rem;
    list-style: none;
    position: relative;
}

.ts-time-line__horizontal:after {
    background-color: #474747;
    content: "";
    bottom: 6.875rem;
    height: .1875rem;
    left: 0;
    position: absolute;
    width: 100%;
}

.ts-time-line__horizontal .ts-time-line__item {
    flex: 0 0 auto;
    margin-right: 1.875rem;
    position: relative;
    width: 18.75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
    position: relative;
    /* dot */
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:before {
    background-color: #474747;
    bottom: -4.375rem;
    border-radius: 100%;
    content: "";
    left: 1.6875rem;
    height: .75rem;
    position: absolute;
    width: .75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
    /*triangle*/
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
    bottom: -0.4375rem;
    content: "";
    left: 1.5625rem;
    height: 0;
    position: absolute;
    width: 0;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone {
    width: 4.375rem;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box {
    background-color: #f26d7d;
    color: #fff;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box:after {
    border-color: #f26d7d transparent transparent transparent;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone h5 {
    writing-mode: vertical-lr;
    margin: 0;
}

.ts-time-line__horizontal .ts-time-line__item figure {
    margin-left: 1.875rem;
    margin-top: 4.6875rem;
}

.ts-time-line__horizontal .ts-time-line__item figure small {
    text-transform: uppercase;
    opacity: .4;
}

.ts-time-line__horizontal .ts-time-line__item figure small,
.ts-time-line__horizontal .ts-time-line__item figure h6 {
    font-weight: 600;
}

.ts-time-line__horizontal .owl-stage-outer {
    padding: 1rem 1rem 0 1rem;
}

.ts-time-line__horizontal .owl-stage {
    align-items: flex-end;
    display: flex;
}

.ts-time-line__horizontal .ts-sly-frame.ts-loaded > ul {
    align-items: flex-end;
    display: flex;
}

/*-------------------------------------------
  -- SVG Shapes
-------------------------------------------*/

.ts-svg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    z-index: -1;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
}

figure.icon {
    position: relative;
}

.ts-svg__organic-shape-01 {
    background-image: url("../img/aboutus.png");
    width: 100%;
}

.ts-svg__organic-shape-02 {
    background-image: url("../img/vision.png");
    width: 100%;
}

.ts-svg__organic-shape-03 {
    background-image: url("../img/mission.png");
    width: 100%;
}

.ts-svg__organic-shape-04 {
    background-image: url("../img/phone.png");
    width: 100%;
}

/* NEW */

/*-------------------------------------------
  -- Other
-------------------------------------------*/

/* Footer push up */

#ts-footer .ts-box {
    margin-top: -3.125rem;
}

.ts-tabs-presentation .tab-pane img {
    opacity: 0;
    transition: .3s ease;
    transform: translateY(1.25rem);
}

.ts-tabs-presentation .tab-pane.show.active img {
    opacity: 1;
    transform: translateY(0);
}

/* Hero navigation arrows */

#ts-hero .owl-prev, #ts-hero .owl-next {
    background-color: transparent;
    border: .125rem solid rgba(255, 255, 255, .8);
}

#ts-hero .owl-prev:after, #ts-hero .owl-next:after {
    line-height: 2.25rem;
}

/* Hero slider height */

.ts-hero-slider {
    height: 100% !important;
}

.ts-hero-slider div {
    height: 100% !important;
}

@media (min-width: 36rem) and (max-width: 47.9375rem) {
    html {
        font-size: 85%;
    }

    h1 {
        font-size: 2.0rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .ts-column-count-sm-1 {
        column-count: 1;
    }

    .ts-column-count-sm-2 {
        column-count: 2;
    }

    .ts-column-count-sm-3 {
        column-count: 3;
    }

    .ts-column-count-sm-4 {
        column-count: 4;
    }

    .ts-promo-numbers h2 {
        font-size: 2.375rem;
    }
}

@media (min-width: 48rem) and (max-width: 61.9375rem) {
    html {
        font-size: 90%;
    }

    h1 {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.375rem;
    }

    .ts-column-count-md-1 {
        column-count: 1;
    }

    .ts-column-count-md-2 {
        column-count: 2;
    }

    .ts-column-count-md-3 {
        column-count: 3;
    }

    .ts-column-count-md-4 {
        column-count: 4;
    }

    .ts-promo-numbers h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 62rem) and (max-width: 74.9375rem) {
    html {
        font-size: 95%;
    }

    h1 {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 2.125rem;
    }

    h3 {
        font-size: 1.375rem;
    }

    .ts-column-count-lg-1 {
        column-count: 1;
    }

    .ts-column-count-lg-2 {
        column-count: 2;
    }

    .ts-column-count-lg-3 {
        column-count: 3;
    }

    .ts-column-count-lg-4 {
        column-count: 4;
    }

    .ts-block {
        padding-bottom: 6.25rem;
        padding-top: 6.25rem;
    }

    .ts-card__image {
        height: 12.5rem;
    }

    .ts-promo-numbers h2 {
        font-size: 2.75rem;
    }
}

@media (min-width: 75rem) {
    html {
        font-size: 100%;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.225rem;
    }

    h3 {
        font-size: 1.625rem;
    }

    .ts-column-count-xl-1 {
        column-count: 1;
    }

    .ts-column-count-xl-2 {
        column-count: 2;
    }

    .ts-column-count-xl-3 {
        column-count: 3;
    }

    .ts-column-count-xl-4 {
        column-count: 4;
    }

    .ts-block {
        padding-bottom: 8.125rem;
        padding-top: 8.125rem;
    }

    .ts-card__image {
        height: 15.625rem;
    }

    .navbar.navbar-expand-xl .ts-background {
        opacity: 0;
    }

    .ts-promo-numbers h2 {
        font-size: 3rem;
    }

    .ts-carousel-centered .owl-nav .owl-next {
        right: 5rem;
    }

    .ts-carousel-centered .owl-nav .owl-prev {
        left: 5rem;
    }

    .floated form {
        padding: 2.5rem 5rem;
    }
}

@media (max-width: 35.9375rem) {
    h1 {
        font-size: 2.425rem;
        margin-bottom: 1.25rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    [class*="ts-column-count-"] {
        column-count: 1;
    }

    .ts-xs-text-center {
        text-align: center !important;
    }

    .ts-title {
        margin-bottom: 2.5rem;
    }

    .ts-promo-numbers h2 {
        font-size: 2.25rem;
    }

    .ts-promo-number {
        margin-bottom: 1.875rem;
    }
}

@media (min-width: 36rem) and (max-width: 61.9375rem) {
    h1 {
        margin-bottom: 1.875rem;
    }

    .ts-title {
        margin-bottom: 5rem;
    }

    .ts-block-inside {
        padding: 2.5rem;
    }
}

@media (min-width: 62rem) {
    h1 {
        margin-bottom: 2.5rem;
    }

    .ts-title {
        margin-bottom: 6.25rem;
    }

    .ts-block-inside {
        padding: 3.75rem;
    }

    .navbar.navbar-expand-lg .ts-background {
        opacity: 0;
    }

    .floated {
        position: absolute;
    }
}

@media (max-width: 47.9375rem) {
    h4 {
        font-size: 1.125rem;
    }
}

@media (min-width: 48rem) {
    h4 {
        font-size: 1.25rem;
    }

    .navbar.navbar-expand-md .ts-background {
        opacity: 0;
    }
}

@media (max-width: 61.9375rem) {
    .ts-card__image {
        height: 15.625rem;
    }
}

@media (min-width: 36rem) {
    .navbar.navbar-expand-sm .ts-background {
        opacity: 0;
    }

    .ts-carousel-centered .owl-nav .owl-next {
        right: 2.5rem;
    }

    .ts-carousel-centered .owl-nav .owl-prev {
        left: 2.5rem;
    }
}